ServerFunctions/local.settings.json
DeviceFirmware/SensorTests/ParticleElectron/BME280/firmware.bin
DeviceFirmware/ParticleElectron/firmware.bin
Server/WebPortal/src/Server/App.config
.vs
obj/
bin/
Server/WebPortal/src/Server/secrets.json
Server/Tests/WeatherStationFunctions.Integration.Tests/Secrets.json
Server/ParticleToken.json
Server/WebPortal/src/Server/ParticleToken.json
