group Functions
	storage: none
    source https://api.nuget.org/v3/index.json

	nuget Microsoft.NET.Sdk.Functions prerelease
	nuget FSharp.Data prerelease
	nuget Microsoft.Azure.WebJobs.Extensions.EventHubs prerelease
    nuget System.Configuration.ConfigurationManager

group Server
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Saturn
    nuget Fable.JsonConverter
    nuget FSharp.Azure.Storage
    nuget System.Configuration.ConfigurationManager

group Client
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.React
    nuget Fable.Elmish.HMR
    nuget Fulma

    clitool dotnet-fable

group Build
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    