group Functions
	storage: none
    source https://api.nuget.org/v3/index.json

	nuget Microsoft.NET.Sdk.Functions prerelease
	nuget FSharp.Data prerelease
	nuget Microsoft.Azure.WebJobs.Extensions.EventHubs prerelease	
    nuget FSharp.Azure.Storage

group Server
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Saturn
    nuget Fable.JsonConverter
    nuget FSharp.Azure.Storage
    nuget System.Configuration.ConfigurationManager
	nuget FSharp.Data prerelease
	nuget Otp.NET
	nuget Particle.SDK prerelease

group Client
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fable.Core 2.0
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.React
    nuget Fable.Elmish.HMR
	nuget Fable.Elmish.Browser
    nuget Fulma
    github fable-compiler/fable-react src/Fable.Recharts/Fable.Recharts.fs
    clitool dotnet-fable

group Test
	storage: none
    source https://api.nuget.org/v3/index.json
	nuget Expecto
	nuget Expecto.VisualStudio.TestAdapter

group Build
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core 4.3.4 // https://github.com/fsharp/FAKE/issues/2001
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    